backend/app/__pycache__

extension/node_modules
extension/package-lock.json


*.csv
*.ipynb
*.props
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
venv/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.ipynb_checkpoints/
**/*.ipynb_checkpoints/

# Gitignore File

# IntelliJ project files:

.idea
*.iml
out
gen

# VSCode files:

.vscode/

# Python Environments:

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python Files:

__pycache__/
*.py[cod]
*$py.class

# Build files:

build/
dist/
cursepy.egg-info/

# Sphinx buid files

docs/build/
docs/source/_*
