backend/app/__pycache__

extension/node_modules
extension/package-lock.json


*.csv
*.txt
*.ipynb
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.ipynb_checkpoints/
**/*.ipynb_checkpoints/