<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <style>
            body {
                background-image: url("images/dot_matrix_background.png");
                width: 500px;
                height: 500px;
            }
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        </style>

        <script type="text/javascript" src="jquery.min.js"></script>
        <!-- <script type="text/javascript" src="background.js"></script> -->
        <!-- <script type="text/javascript" src="connect.js"></script> -->
    </head>
    <body>
        
    </body>
    
</html>